{"openapi":"3.1.0","info":{"title":"BFL API","description":"Authorize with an API key from your user profile.","version":"0.0.1"},"servers":[{"url":"https://api.bfl.ai","description":"BFL API"}],"paths":{"/v1/finetune_details":{"get":{"tags":["Utility"],"summary":"Finetune Details","description":"Get details about the training parameters and other metadata connected to a specific finetune_id that was created by the user.","operationId":"finetune_details_v1_finetune_details_get","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"finetune_id","in":"query","required":true,"schema":{"type":"string","title":"Finetune Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneDetailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.bfl.ai","description":"BFL Finetune API"}]}},"/v1/my_finetunes":{"get":{"tags":["Utility"],"summary":"My Finetunes","description":"List all finetune_ids created by the user","operationId":"my_finetunes_v1_my_finetunes_get","security":[{"APIKeyHeader":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MyFinetunesResponse"}}}}},"servers":[{"url":"https://api.bfl.ai","description":"BFL Finetune API"}]}},"/v1/delete_finetune":{"post":{"tags":["Utility"],"summary":"Delete Finetune","description":"Delete a finetune_id that was created by the user","operationId":"delete_finetune_v1_delete_finetune_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFinetuneInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFinetuneResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.bfl.ai","description":"BFL Finetune API"}]}},"/v1/flux-pro-1.1":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX1.1 [pro]","description":"Submits an image generation task with FLUX1.1 [pro].","operationId":"flux_pro_1_1_v1_flux_pro_1_1_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxPro11Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Flux Pro 1 1 V1 Flux Pro 1 1 Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX1.1 [pro]"}}}},"/v1/flux-dev":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX.1 [dev]","description":"Submits an image generation task with FLUX.1 [dev].","operationId":"flux_dev_v1_flux_dev_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxDevInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Flux Dev V1 Flux Dev Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 [dev]"}}}},"/v1/flux-pro-1.1-ultra":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX1.1 [pro] ultra mode","description":"Submits an image generation task with FLUX1.1 [pro] with ultra mode and optional raw mode.","operationId":"generate_flux_1_1_ultra_v1_flux_pro_1_1_ultra_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxUltraInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 1 1 Ultra V1 Flux Pro 1 1 Ultra Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX1.1 [pro] ultra"}}}},"/v1/flux-pro-1.0-fill":{"post":{"tags":["Models"],"summary":"Inpaint an image with FLUX.1 Fill [pro] using an input image and mask","description":"Submits an image generation task with the FLUX.1 Fill [pro] model using an input image and mask. Mask can be applied to alpha channel or submitted as a separate image.","operationId":"fill_v1_flux_pro_1_0_fill_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxProFillInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Fill V1 Flux Pro 1 0 Fill Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 Fill [pro]"}}}},"/v1/flux-pro-1.0-expand":{"post":{"tags":["Models"],"summary":"Expand an image with FLUX.1 Expand [pro] by adding pixels on any side","description":"Submits an image expansion task that adds the specified number of pixels to any combination of sides (top, bottom, left, right) while maintaining context.","operationId":"expand_v1_flux_pro_1_0_expand_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxProExpandInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Expand V1 Flux Pro 1 0 Expand Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 Expand [pro]"}}}},"/v1/flux-pro-1.0-fill-finetuned":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX.1 Fill [pro] finetune using an input image and mask.","description":"Submits an image generation task with the FLUX.1 Fill [pro] finetune model using an input image and mask. Mask can be applied to alpha channel or submitted as a separate image.","operationId":"flux_pro_1_0_fill_finetuned_v1_flux_pro_1_0_fill_finetuned_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneFluxProFillInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Flux Pro 1 0 Fill Finetuned V1 Flux Pro 1 0 Fill Finetuned Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.bfl.ai","description":"BFL Finetune API"}]}},"/v1/flux-pro-1.1-ultra-finetuned":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX 1.1 [pro] finetune with ultra mode.","description":"Submits an image generation task with FLUX 1.1 [pro] finetune with ultra mode.","operationId":"generate_bigblue_finetuned_v1_flux_pro_1_1_ultra_finetuned_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneFluxUltraInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Bigblue Finetuned V1 Flux Pro 1 1 Ultra Finetuned Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.bfl.ai","description":"BFL Finetune API"}]}},"/v1/flux-2-flex":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [flex]","description":"Submits an image generation or editing task with FLUX.2 [flex]. Specialized for typography and text rendering, and for preserving small details. Supports text-to-image and image-to-image editing workflows.","operationId":"generate_flux_2_flex_v1_flux_2_flex_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2FlexInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Flex V1 Flux 2 Flex Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [flex]"},"content":"Best for text and typography in the image. For most use cases, start with FLUX.2 [pro]. See which model to use."}}},"/v1/flux-2-klein-9b":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [klein] 9B","description":"Submits an image generation or editing task with FLUX.2 [klein] 9B. Sub-second inference with open weights, balancing quality and speed.","operationId":"generate_flux_2_klein_9b_v1_flux_2_klein_9b_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Klein 9B V1 Flux 2 Klein 9B Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [klein] 9B"},"content":"Fastest and most affordable, with open weights. 9B balances quality and speed; 4B is the fastest. See which model to use."}}},"/v1/flux-2-klein-9b-preview":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [klein] 9B (preview)","description":"Submits an image generation or editing task with the FLUX.2 [klein] 9B preview endpoint, where our latest quality and speed improvements land first. For stable production use, prefer FLUX.2 [klein] 9B (/flux-2-klein-9b).","operationId":"generate_flux_2_klein_9b_kv_v1_flux_2_klein_9b_preview_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Klein 9B Kv V1 Flux 2 Klein 9B Preview Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [klein] 9B (preview)"},"content":"Preview endpoint for FLUX.2 [klein] 9B. For stable production use, start with FLUX.2 [klein] 9B. See which model to use."}}},"/v1/flux-2-klein-4b":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [klein] 4B","description":"Submits an image generation or editing task with FLUX.2 [klein] 4B. The fastest, most lightweight FLUX.2 model, with open weights that run on consumer GPUs.","operationId":"generate_flux_2_klein_4b_v1_flux_2_klein_4b_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Klein 4B V1 Flux 2 Klein 4B Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [klein] 4B"},"content":"The fastest and most affordable model, with open weights that run on consumer GPUs. 9B trades some speed for higher quality. See which model to use."}}},"/v1/flux-2-max":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [max]","description":"Submits an image generation or editing task with FLUX.2 [max]. Highest quality FLUX.2 model for image generation and editing, with the strongest editing consistency and prompt following.","operationId":"generate_flux_2_max_v1_flux_2_max_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Max V1 Flux 2 Max Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [max]"},"content":"Highest quality, for the hardest edits and maximum prompt following. For most use cases, start with FLUX.2 [pro]. See which model to use."}}},"/v1/flux-2-pro-preview":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [pro] (preview)","description":"Submits an image generation or editing task with the FLUX.2 [pro] preview endpoint, where our latest quality and speed improvements land first. For stable production use, prefer FLUX.2 [pro] (/flux-2-pro).","operationId":"generate_flux_2_pro_preview_v1_flux_2_pro_preview_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Pro Preview V1 Flux 2 Pro Preview Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [pro] (preview)"},"content":"Preview endpoint for FLUX.2 [pro]. For stable production use, start with FLUX.2 [pro]. See which model to use."}}},"/v1/flux-2-pro":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [pro]","description":"Submits an image generation or editing task with FLUX.2 [pro]. This is the recommended default model for image editing and generation. Supports text-to-image and image-to-image editing workflows.","operationId":"generate_flux_2_pro_v1_flux_2_pro_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Pro V1 Flux 2 Pro Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [pro]"},"content":"The recommended default model for most generation and editing. New to FLUX.2? See which model to use."}}},"/v1/credits":{"get":{"summary":"Get the user's credits","description":"Get the user's credits","operationId":"get_credits_v1_credits_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditsResponse"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/get_result":{"get":{"tags":["Utility"],"summary":"Get Result","description":"An endpoint for getting generation task result.","operationId":"get_result_v1_get_result_get","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SettledCostResultResponse"},{"$ref":"#/components/schemas/ResultResponse"}],"title":"Response Get Result V1 Get Result Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AsyncResponse":{"properties":{"id":{"type":"string","title":"Id"},"polling_url":{"type":"string","title":"Polling Url"},"cost":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cost","description":"Cost in credits for this request"},"input_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Input Mp","description":"Input megapixels (2 decimal places)"},"output_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Output Mp","description":"Output megapixels (2 decimal places)"}},"type":"object","required":["id","polling_url"],"title":"AsyncResponse"},"AsyncWebhookResponse":{"properties":{"id":{"type":"string","title":"Id"},"status":{"type":"string","title":"Status"},"webhook_url":{"type":"string","title":"Webhook Url"},"cost":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cost","description":"Cost in credits for this request"},"input_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Input Mp","description":"Input megapixels (2 decimal places)"},"output_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Output Mp","description":"Output megapixels (2 decimal places)"}},"type":"object","required":["id","status","webhook_url"],"title":"AsyncWebhookResponse"},"CreditsResponse":{"properties":{"credits":{"type":"number","title":"Credits","description":"User's current credit balance"}},"type":"object","required":["credits"],"title":"CreditsResponse"},"DeleteFinetuneInputs":{"properties":{"finetune_id":{"type":"string","title":"Finetune Id","description":"Name of the LoRA to delete.","example":"my-finetune"}},"type":"object","required":["finetune_id"],"title":"DeleteFinetuneInputs"},"DeleteFinetuneResponse":{"properties":{"status":{"type":"string","title":"Status","description":"Status of the deletion"},"message":{"type":"string","title":"Message","description":"Message about the deletion"},"deleted_finetune_id":{"type":"string","title":"Deleted Finetune Id","description":"ID of the deleted finetune"},"timestamp":{"type":"string","title":"Timestamp","description":"Timestamp of the deletion"}},"type":"object","required":["status","message","deleted_finetune_id","timestamp"],"title":"DeleteFinetuneResponse"},"FinetuneDetailResponse":{"properties":{"finetune_details":{"additionalProperties":true,"type":"object","title":"Finetune Details","description":"Details about the parameters used for finetuning"}},"type":"object","required":["finetune_details"],"title":"FinetuneDetailResponse"},"FinetuneFluxProFillInputs":{"properties":{"finetune_id":{"type":"string","title":"Finetune Id","description":"Name of the LoRA to use. For LoRAs from other organizations (public or shared), use the format 'org-id/lora-name'.","example":"my-finetune"},"finetune_strength":{"type":"number","maximum":2.0,"minimum":0.0,"title":"Finetune Strength","description":"Strength of the fine-tuned model. 0.0 means no influence, 1.0 means full influence. Allowed values up to 2.0","default":1.1},"image":{"type":"string","title":"Image","description":"A Base64-encoded string representing the image you wish to modify. Can contain alpha mask if desired."},"mask":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mask","description":"A Base64-encoded string representing a mask for the areas you want to modify in the image. The mask should be the same dimensions as the image and in black and white. Black areas (0%) indicate no modification, while white areas (100%) specify areas for inpainting. Optional if you provide an alpha mask in the original image."},"prompt":{"type":"string","title":"Prompt","description":"The description of the changes you want to make.","default":"","example":"ein fantastisches bild"},"steps":{"type":"integer","maximum":50.0,"minimum":15.0,"title":"Steps","default":50,"example":50},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed"},"guidance":{"type":"number","maximum":100.0,"minimum":1.5,"title":"Guidance","default":60},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","default":2,"example":2},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Url"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret"}},"type":"object","required":["finetune_id","image"],"title":"FinetuneFluxProFillInputs"},"FinetuneFluxUltraInput":{"properties":{"finetune_id":{"type":"string","title":"Finetune Id","example":"my-finetune"},"finetune_strength":{"type":"number","maximum":2.0,"minimum":0.0,"default":1.2},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"default":""},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}]},"aspect_ratio":{"type":"string","default":"16:9"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"image_prompt_strength":{"type":"number","maximum":1.0,"minimum":0.0,"default":0.1},"prompt_upsampling":{"type":"boolean","default":false},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["finetune_id"],"title":"FinetuneFluxUltraInput"},"Flux2DeblurInputs":{"properties":{"image":{"type":"string","title":"Image","description":"Base64-encoded input image or HTTP(S) image URL."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["image"],"title":"Flux2DeblurInputs","description":"Deblur takes only an image (no mask, no prompt): the whole image is regenerated by a fixed blur-removal LoRA with a fixed prompt, so the caller controls nothing but the input image."},"Flux2EraseInputs":{"properties":{"image":{"type":"string","title":"Image","description":"Base64-encoded input image or HTTP(S) image URL."},"mask":{"type":"string","title":"Mask","description":"Base64-encoded black/white mask or HTTP(S) image URL. White pixels indicate the object to remove; black pixels are preserved. Must have the same dimensions as the input image."},"dilate_pixels":{"type":"integer","maximum":25.0,"minimum":0.0,"default":10},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["image","mask"],"title":"Flux2EraseInputs"},"Flux2FlexInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","example":"ein fantastisches bild"},"prompt_upsampling":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":true},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Path to the input image."},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_5":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_6":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_7":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_8":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_blob_path":{"anyOf":[{"type":"string"},{"type":"null"}]},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"width":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"default":0},"height":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"default":0},"guidance":{"anyOf":[{"type":"number","maximum":10.0,"minimum":1.5},{"type":"null"}],"default":5.0,"example":5.0,"description":"High guidance scales improve prompt adherence at the cost of reduced realism."},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":1.0},{"type":"null"}],"default":50,"example":50},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["prompt"],"title":"Flux2FlexInputs","description":"Up to 8 reference images (input_image..input_image_8). Exposes steps and guidance (unlike Flux2Inputs used by pro/max)."},"Flux2Inputs":{"properties":{"prompt":{"type":"string","title":"Prompt","example":"ein fantastisches bild"},"disable_pup":{"type":"boolean","default":false,"description":"FLUX.2 [pro] and [max] apply prompt upsampling by default; set true to use the prompt exactly as written."},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_5":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_6":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_7":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_8":{"anyOf":[{"type":"string"},{"type":"null"}]},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"width":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"default":0},"height":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"default":0},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["prompt"],"title":"Flux2Inputs","description":"Used by flux-2-pro, flux-2-pro-preview, flux-2-max. No steps/guidance (zero-knob). Up to 8 reference images."},"Flux2KleinInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","example":"ein fantastisches bild"},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}]},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"width":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"default":0},"height":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"default":0},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["prompt"],"title":"Flux2KleinInputs","description":"Klein: like pro but max 4 reference images (input_image..input_image_4)."},"Flux2KleinTryonInputs":{"properties":{"prompt":{"type":"string","example":"TRY-ON: The person of image 1 wearing the garments of image 2."},"person":{"type":"string","description":"Person image (maps internally to input_image)."},"garment":{"type":"string","description":"Image of one or more garments (maps internally to input_image_2)."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["prompt","person","garment"],"title":"Flux2KleinTryonInputs"},"FluxDevInputs":{"properties":{"prompt":{"type":"string","default":"","example":"ein fantastisches bild"},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"width":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"default":1024},"height":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"default":768},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":1.0},{"type":"null"}],"default":28,"example":28},"prompt_upsampling":{"type":"boolean","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"guidance":{"anyOf":[{"type":"number","maximum":5.0,"minimum":1.5},{"type":"null"}],"default":3.0,"example":3.0},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","title":"FluxDevInputs"},"FluxKontextProInputs":{"properties":{"prompt":{"type":"string","example":"ein fantastisches bild"},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}]},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}]},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"aspect_ratio":{"anyOf":[{"type":"string"},{"type":"null"}]},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]},"prompt_upsampling":{"type":"boolean","default":false},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2,"example":2}},"type":"object","required":["prompt"],"title":"FluxKontextProInputs"},"FluxOutpaintingInputs":{"properties":{"input_image":{"type":"string","description":"Base64-encoded input (reference) image or HTTP(S) image URL."},"width":{"type":"integer","minimum":64.0},"height":{"type":"integer","minimum":64.0},"auto_crop":{"type":"boolean","default":false},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"reference_offset_x":{"anyOf":[{"type":"integer"},{"type":"null"}]},"reference_offset_y":{"anyOf":[{"type":"integer"},{"type":"null"}]},"mode":{"type":"string","enum":["high","fast"],"default":"high"},"disable_pup":{"type":"boolean","default":false}},"type":"object","required":["input_image","width","height"],"title":"FluxOutpaintingInputs"},"FluxPro11Inputs":{"properties":{"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","example":"ein fantastisches bild"},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"width":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"default":1024},"height":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"default":768},"prompt_upsampling":{"type":"boolean","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","title":"FluxPro11Inputs"},"FluxProExpandInputs":{"properties":{"image":{"type":"string"},"top":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"default":0},"bottom":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"default":0},"left":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"default":0},"right":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"default":0},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","example":"ein fantastisches bild"},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":15.0},{"type":"null"}],"default":50,"example":50},"prompt_upsampling":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}]},"guidance":{"anyOf":[{"type":"number","maximum":100.0,"minimum":1.5},{"type":"null"}],"default":60},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2,"example":2},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["image"],"title":"FluxProExpandInputs"},"FluxProFillInputs":{"properties":{"image":{"type":"string"},"mask":{"anyOf":[{"type":"string"},{"type":"null"}]},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","example":"ein fantastisches bild"},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":15.0},{"type":"null"}],"default":50,"example":50},"prompt_upsampling":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}]},"guidance":{"anyOf":[{"type":"number","maximum":100.0,"minimum":1.5},{"type":"null"}],"default":60},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2,"example":2},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","required":["image"],"title":"FluxProFillInputs"},"FluxUltraInput":{"properties":{"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","example":"A beautiful landscape with mountains and a lake"},"prompt_upsampling":{"type":"boolean","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"example":42},"aspect_ratio":{"type":"string","default":"16:9"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"raw":{"type":"boolean","default":false,"example":false},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"image_prompt_strength":{"type":"number","maximum":1.0,"minimum":0.0,"default":0.1},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}]}},"type":"object","title":"FluxUltraInput"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array"}},"type":"object","title":"HTTPValidationError"},"MyFinetunesResponse":{"properties":{"finetunes":{"items":{},"type":"array"}},"type":"object","required":["finetunes"],"title":"MyFinetunesResponse"},"OutputFormat":{"type":"string","enum":["jpeg","png","webp"],"title":"OutputFormat"},"ResultResponse":{"properties":{"id":{"type":"string"},"status":{"$ref":"#/components/schemas/StatusResponse"},"result":{"anyOf":[{},{"type":"null"}]},"progress":{"anyOf":[{"type":"number"},{"type":"null"}]},"details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}]},"preview":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}]}},"type":"object","required":["id","status"],"title":"ResultResponse"},"SettledCostResultResponse":{"properties":{"id":{"type":"string"},"status":{"$ref":"#/components/schemas/StatusResponse"},"result":{"anyOf":[{},{"type":"null"}]},"progress":{"anyOf":[{"type":"number"},{"type":"null"}]},"details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}]},"preview":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}]},"cost":{"type":"number"}},"type":"object","required":["id","status","cost"],"title":"SettledCostResultResponse"},"StatusResponse":{"type":"string","enum":["Task not found","Pending","Reasoning","Generating","Request Moderated","Content Moderated","Ready","Error"],"title":"StatusResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array"},"msg":{"type":"string"},"type":{"type":"string"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-key"}}},"tags":[{"name":"Models","description":"Generation task endpoints. These endpoints allow you to submit generation tasks."},{"name":"Utility","description":"These utility endpoints allow you to check the results of submitted tasks and to manage your finetunes."}]}
